
/********************************************
            HEADERS
********************************************/
#desktop-header {
    display: none;
}

#sticky-header {
    display: none;
}

#search-mobile {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;
    span {
        display: none;
    }
}

header {
    margin-bottom: 1.5em;
}

/********************************************
            MAIN
********************************************/
main {
    width: 98%;
    margin: 0 auto;
    >h1 {
        font-size: 2.5em;
        border-bottom: solid 2px $lightorange;
        text-transform: capitalize;
        padding-bottom: 0.5em;
        text-align: center;
        margin-bottom: 1em;
    }
    @include susy-breakpoint($bp-desktop) {
        @include container(95%);
        >h1 {
            width: 50%;
            margin: 1em auto;
        }
        #posts {
            @include span(8);
            article {
                @include container();
                .post-image {
                    @include span(4);
                }
                p {
                    @include span(last 8);
                }
            }
        }
        .sidebar {
            @include span(last 4);
        }
    }
}

/********************************************
            FOOTER
********************************************/
footer {
    background-color: $darkorange;
    padding: 0.5em;
    padding-top: 2em;
    margin-top: 50px;
}