
// clearfix mixin
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// sreen reader mixin
@mixin sr {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}