@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700';

$font: 'Comfortaa', cursive;


// define color variables
$darkorange: #e64a19;
$orange: #ff5722;
$lightorange: #ffccbc;
$white: #FFFFFF;
$blue: #22313f;

// susy settings
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

$bp-desktop: 769px;
$bp-medium: 769px 1200px;